<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @rental.desc %>
</p>

<p>
  <strong>Location:</strong>
  <%= @rental.location %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
