<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :house_type %>
    <%= form.text_field :house_type, id: :unit_house_type %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :unit_desc %>
  </div>

  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.text_field :bedrooms, id: :unit_bedrooms %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
