<h1><%= @rental.name %> Units</h1>
<%= link_to 'Back', rental_path(@rental) %>
<table>
  <tr>
    <th>House Number</th>
    <th>House Type</th>
    <th>bedrooms</th>
    <th>Description</th>
  </tr>
    <% @rental.units.each do |unit| %>
      <tr>
        <td><%= unit.id %></td>
        <td><%= unit.house_type %></td>
        <td><%= unit.bedrooms %></td>
        <td><%= unit.desc %></td>
      </tr>
    <% end %>
</table>
